@font-face{
    font-family: 'gotbold';
    src: url(../fonts/gotham/GothamRounded-Bold.otf);
}

@font-face{
    font-family: 'gotmed';
    src: url(../fonts/gotham/GothamRounded-Medium.otf);
}

@font-face{
    font-family: 'gotbook';
    src: url(../fonts/gotham/GothamRounded-Book.otf);
}

@font-face{
    font-family: 'gotround';
    src: url(../fonts/gotham/GothamRounded-Medium.otf);
}