img{
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.home {
  width: 100%;
  background-image: url("../imgs/livello.png");
  min-height: 744px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.navigation {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.navigation .nav-ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  user-select: none;
}

.navigation .nav-ul li a{
  text-decoration: none;
  color: #fff;
  font-family: 'gotbold';
  font-size: 16px;
  text-transform: uppercase;
  margin: auto 40px; 
}

.navigation .nav-ul li a img{
  padding-left: auto;
  padding-right: auto;
}

.burger{
  display: none;
}

.midarea{
  width: 60%;
  text-align: center;
}

.mid-p{
  width: 100%;
  font-size: 36px;
  color: #fff;
  font-family: 'gotbold';
  text-transform: uppercase;
  letter-spacing: 5px;
}

.mid-desc{
  font-size: 16px;
  color: #fff;
  font-family: 'gotmed';
  line-height: 2.5;
  font-weight: 400;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 45px;
}

.mid-a a{
  color: #fff;
  background-color: #16a085;
  padding: 20px 31px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'gotbold';
  font-size: 12px;
  letter-spacing: 2px;
}

.social{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social *{
  font-size: 25px;
  color: #fff;
  margin: 0;
  text-decoration: none;
  margin: 0 5px;
}


/* Hand section */

.hand{
  width: 100%;
  background-image: url("../imgs/hand.png");
  min-height: 490px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphonefx{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.fx-title{
  width: 50%;
  font-family: 'gotbold';
  font-size: 18px;
  color: #16a085;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1.3;
  margin-bottom: 55px;
}

.fx-desc{
  color: #111111;
  font-size: 14px;
  line-height: 2.2;
  width: 45%;
  margin-bottom: 70px;
  letter-spacing: 2px;
  font-family: 'gotbook';
}

/* Third Section */

.third-section{
  width: 100%;
  background-image: url("../imgs/third-section.png");
  min-height: 558px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-parent{
  width: 85%;
  display: flex;
  justify-content: flex-end;
}

.third-child{
  width: 40%;
}

.third-desc{
  color: #111111;
  font-size: 14px;
  line-height: 2.2;
  margin-bottom: 70px;
  letter-spacing: 2px;
  font-family: 'gotbook';
}

.quantity{
  font-family: 'gotbold';
  font-size: 15px;
  margin-top: 50px;
  letter-spacing: 2px;
  color: #373737;
}

.fa-angle-left, .fa-angle-right{
  font-size: 30px;
  color: #373737;
}

.q-1{
  display: flex;
  flex-direction: column;
}

.q-2{
  display: flex;
  justify-content: space-between;
  width: 55px;
}

/* fourth */

.fourth-parent{
  width: 100%;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 485px;
}

.fourth-child{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.q-3{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.q-3 *{
  margin: 30px 0px 8px 16px;
}

.cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.first{
  width: 85px;
  height: 70px;
}

.card-items{
  background-color: transparent;
  width: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.our{
  font-size: 16px;
  font-family: 'gotbold';
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #222;
}

.lorem8{
  font-size: 11px;
  font-family: 'gotmed';
  font-weight: 400;
  letter-spacing: 2px;
  width: 60%;
  color: #222;
  line-height: 1.4;
}

.item-images{
  width: 100%;
}

/* fifth */

.fifth{
  width: 100%;
  background-image: url("../imgs/livello-five.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

/* Sixth */

.sixth{
  width: 100%;
  background-color: #f5f6f7;
  height: 75vh;
  min-height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sixth-child{
  width: 67%;
}

.download-title{
  font-size: 20px;
  font-family: 'gotbold';
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  line-height: 2;
}

.download-desc{
  font-size: 12px;
  font-family: 'gotmed';
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: 1.6;
}

.down-btn{
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.down-btn p{
  display: flex;
  justify-content: center;
  margin: 12.5px;
}

.store {
  font-size: 16px;
  font-family: 'gotbold';
  color: #fff;
  background-color: #1abc9c;
  padding: 17px 65px 15px 18px;
  text-decoration: none;
  letter-spacing: 1.4px;
}

.fa-apple, .fa-android{
  font-size: 20px;
  background-color: #16a085;
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

.footer{
  width: 100%;
  height: 25vh;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-child{
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: 'gotbold';
}

.footer-links ul{
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.footer-links ul li::after{
  content: "|";
  color: #16a085;
}

.footer-links ul li a{
  text-decoration: none;
  color: #373737;
  line-height: 2;
  padding-left: 5px;
}

.copyright{
  color: #373737;
  line-height: 2;
  padding-left: 5px;
}

@media only screen and (max-width: 960px){

  .navigation{
    width: 80% !important;
  }

  .midarea{
    width: 80% !important;
  }

  .fx-title{
    width: 65% !important;
  }

  .fx-desc{
    width: 65% !important;
  }

  .third-child{
    width: 65% !important;
  }

  .store{
    padding-right: 25px !important;
  }
}

@media only screen and (max-width: 720px){
  
  .navigation{
    display: flex !important;
    justify-content: space-between !important;
  }

  .burger{
    display: block !important;
  }

  .fa-bars{
    font-size: 30px !important;
    color: #fff !important;
  }

  .nav-ul:nth-of-type(1){display: none !important;}
  .nav-ul:nth-of-type(2){display: block !important;}
  .nav-ul:nth-of-type(3){display: none !important;}

  .fx-title{
    width: 85% !important;
    font-size: 14px !important;
    margin-bottom: 35px !important;
  }

  .fx-desc{
    width: 85% !important;
    font-size: 12px !important;
    margin-bottom: 50px !important;
  }

  .third-desc{
    font-size: 12px !important;
  }

  .sixth-child{
    width: 90% !important;
  }

  .down-btn{
    width: 100% !important;
  }

  .store{
    width: 100% !important;
    padding-right: 20px !important;
  }
}

 

@media only screen and (max-width: 540px){
  
  .fx-title{
    width: 100% !important;
  }

  .fx-desc{
    width: 100% !important;
  }

  .third-child{
    width: 80% !important;
  }

  .footer-child{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    font-size: 12px !important; 
  }

  .footer-text{
    width: 100% !important;
  }
}

@media only screen and (max-width: 380px){
  .third-child{
    width: 100% !important;
    text-align: center !important;
  }

  .q-1{
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .q-2{
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .footer-child{
    font-size: 11px !important;
  }
}



