.fifth{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subs-form{
    form{
        text-align: center;

        label{
            color: #fff;
            font-size: 24px;
            font-family: 'gotbold';
            letter-spacing: 4px;
            width: 100%;
        }

        p{
            display: flex;
            justify-content: center;
            padding-top: 35px;
            
            input[type=text]{
                font-size: 16px;
                font-family: 'gotround';
                padding: 10px 10px 10px 10px;
                color: #373737;
                letter-spacing: 2px;
            }

            button{
                background-color: #16a085;
                color: #fff;
                font-size: 16px;
                border: none;

                i{
                    padding: 11.1px;
                }
            }
        }
    }
}